{% extends "::base.html.twig" %}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% stylesheets filter='cssrewrite'
        'bundles/marichatchat/css/bootstrap.min.css'
        'bundles/marichatchat/css/bootstrap-theme.min.css'
        'bundles/marichatchat/css/style.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <!--[if lt IE 9]>
        {% javascripts '@MarichatChatBundle/Resources/public/js/respond.min.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    <![endif]-->
    {% javascripts
        '@MarichatChatBundle/Resources/public/js/jquery.min.js'
        '@MarichatChatBundle/Resources/public/js/bootstrap.min.js'
        '@MarichatChatBundle/Resources/public/js/jquery.json.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block title 'Marichat' %}

{% block body %}
    {#% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %#}

    {#% block content_header %}
        <ul id="menu">
            {% block content_header_more %}
                <li><a href="{{ path('_chat') }}">Demo Home</a></li>
            {% endblock %}
        </ul>

        <div style="clear: both"></div>
    {% endblock %#}

    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('_chat') }}">Marichat</a>
            </div>
            <div class="navbar-collapse navbar-right">
                <div class="online-status">
                    <div class="online-status-offline"><span class="label label-default"><span class="glyphicon glyphicon-remove"></span> Offline</span></div>
                    <div class="online-status-online"><span class="label label-success"><span class="glyphicon glyphicon-ok"></span> Online</span></div>
                </div>
                {% if app.user %}
                <div class="user-status">
                    <strong>{{ app.user ? app.user.username : 'Anonymous' }}</strong> (<a href="{{ path('_chat_logout') }}">logout</a>)
                </div>
                {% endif %}
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </div>

    <div class="container body-container">
        {% block content %}{% endblock %}
    </div> <!-- /container -->

    {% if code is defined %}
        <h2>Code behind this page</h2>
        <div class="block">
            <div class="symfony-content">{{ code|raw }}</div>
        </div>
    {% endif %}
{% endblock %}
