{% extends "MarichatChatBundle::layout.html.twig" %}

{% block head %}
    {{ parent() }}
    {% javascripts
        '@MarichatChatBundle/Resources/public/js/chat.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        Chat.webSocketsUlr = '{{ webSocketsUlr }}';
        Chat.addUrl = '{{ path('_chat_add') }}';
        Chat.getEditFormUrl = '{{ '' }}';
        Chat.editUrl = '{{ '' }}';
        Chat.deleteUrl = '{{ '' }}';
        Chat.getListUrl = '{{ path('_chat_messages') }}';
        Chat.changeStatusUrl = '{{ '' }}';
        //Chat.debug = true;
        Chat.createSocketConnection();

        $(document).ready(function() {
            Chat.scrollToWrite();
        });
    </script>
{% endblock %}

{% block title "M" %}

{#% block content_header '' %#}

{% block content %}

    <table class="chat-messages table table-striped">
        <thead>
            <tr>
                <th>Time</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody class="chat-items">
            {{ include('MarichatChatBundle::Chat/messages.html.twig', { 'messages': messages }) }}
        </tbody>
        <tbody>
            <tr>
                <td colspan="2">
                    <p>Add new:</p>
                    <div class="chat-add-form">
                        {{ include('MarichatChatBundle::Chat/addform.html.twig', { 'form': form }) }}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
