{% for message in messages %}
    <tr class="chat-row">
        <td>
            <div class="chat-row-time">
                <span><strong>{{ message.username }}</strong></span>
                <span class="chat-time" title="{{ message.time|date('Y-m-d H:i:s') }}">{{ message.time|date('H:i:s') }}</span>
            </div>
            {{ message.text }}
        </td>
    </tr>
{% endfor %}

    <tr>
        <td>
            <div class="messages-refresh-block">
                <a href="javascript: void(0);" onclick="Chat.refreshListGui();" class="btn-messages-refresh btn btn-default"><span class="glyphicon glyphicon-refresh"></span></a>
                {% image '@MarichatChatBundle/Resources/public/images/ajax-loader.gif' %}
                    <img class="messages-loading" src="{{ asset_url }}" alt="Loading..." />
                {% endimage %}
            </div>
        </td>
    </tr>
